@media (max-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 800px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    aside {
        display: none;
    }
}
@media (max-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (max-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}
@media (max-width: 1281px) {
    /* hi-res laptops and desktops */
}
body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.yeti-img,
.keys-img {
    width: 100%;
    height: auto;
}
aside {
    max-width: 300px;
}
aside.right-panel {
    margin-left: 20px;
}

.keys-info {
    font-family: "VT323";
    font-size: 33px;
}

#canvas {
    background-color: white;
    border-color: #000;
    border-style: solid;
    border-radius: 4px;
}
.header {
    text-align: center;
    font-family: "VT323";
    font-size: 5vw;
    height: 44px;
}
.footer {
    font-family: "VT323";
    font-size: 4vw;
    text-align: center;
}
