@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .col-6 {
    clear: none;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .col-6 {
    clear: none;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .col-6 {
    clear: none;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

.container {
  min-width: 1400px;
  overflow: hidden;
}

.yeti-img {
  margin-top: 100px;
  max-width: 380px;
  position: fixed;
}

.right-panel {
  z-index: 999;
  position: fixed;
  margin-top: 550px;
  margin-left: 1100px;
}
.keys-img {
  position: relative;
}
.keys-info {
  position: relative;
  top: -550px;
  width: 200px;
  font-family: "VT323";
  font-size: 40px;
}
ol {
  width: 200px;
}
#canvas {
  background-color: white;
  position: fixed;
  margin-top: 100px;
  margin-left: 400px;
  border-color: #000;
  border-style: solid;
  border-radius: 4px;
}
.header {
  position: fixed;
  z-index: 999;
  text-align: center;
  font-family: "VT323";
  font-size: 80px;
  width: 300px;
  margin-left: 560px;
}
.footer {
  clear: both;
  position: fixed;
  margin-left: 560px;
  bottom: 30px;
  font-family: "VT323";
  font-size: 30px;
  text-align: center;
  height: 50px;
}
